@tailwind base;
@tailwind utilities;
@tailwind components;

.notification {
  animation: notification_animation 7s ease-in-out forwards;
}

@keyframes notification_animation {
  0% {
    right: -250px;
  }

  50% {
    right: 56px;
  }

  60% {
    right: 25px;
  }

  80% {
    right: 56px;
  }

  100% {
    right: -500px;
  }
}

.label_style {
  @apply text-white font-semibold block my-4;
}

.input_style {
  @apply rounded-lg focus:outline-none px-2 h-8 w-full;
}

.fade_in {
  animation: fade_in_transition 0.5s linear;
}

.fade_out {
  animation: fade_out_transition 0.5s linear;
}

@keyframes fade_in_transition {
  0% {
    top: 10px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 100%;
  }
}

@keyframes fade_out_transition {
  0% {
    top: 0px;
  }
  100% {
    top: -10px;
  }
}
